<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="../../img/logo/ZANCE&co_footer_logo.svg" alt=""></a>
                    </div>
                    <p>Go Beyond Limits</p>
                    <a href="#"><img src="../../img/icon/social_media.svg" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>GET IN TOUCH </h6>
                    <ul>
                        <li><a href="#">help@zance&cotech.com</a></li>
                        <li><a href="#">5th block, Kollam, Kerala,, 691302</a></li>                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>POLICIES</h6>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Shipping and Returns</a></li>
                        <li><a href="#">Warranty Guidelines</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>QUICK LINKS</h6>
                    <ul>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">FAQs    </a></li>
                    </ul>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">                    
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved by zance&co
                    </p>                    
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    window.addEventListener('load', function() {
        const loader = document.querySelector('.loader-wrapper');
        const content = document.querySelector('.content');
        setTimeout(function() {
            loader.classList.add('loader-hidden');
            content.classList.add('content-loaded');
        }, 2000);
    });
</script>
<!-- Js Plugins -->
<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.nice-select.min.js"></script>
<script src="../../js/jquery.nicescroll.min.js"></script>
<script src="../../js/jquery.magnific-popup.min.js"></script>
<script src="../../js/jquery.countdown.min.js"></script>
<script src="../../js/jquery.slicknav.js"></script>
<script src="../../js/mixitup.min.js"></script>
<script src="../../js/owl.carousel.min.js"></script>
<script src="../../js/main.js"></script>

</body>

</html>