
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> | zance&co | </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
    <link rel="stylesheet" href="../../css/headerpartials.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
       
        <div class="offcanvas__nav__option">
            <a href="/user/wishlist"><i class="bi bi-suit-heart"></i></a>
            <a href="/user/cart"><i class="bi bi-bag"></i></a>
            <% if (locals.user) { %>
                <div class="dropdown">
                   <a href="" class="sign-in-link"  id="user-name"><%=locals.user.name%></a>
                   <div class="dropdown-content">
                       <a href="/user/userProfile">User Profile</a>
                       <a href="/user/logout">Logout</a>
                   </div>
                </div>
                <% } else { %>
                
               <a href="/user/signup">SIGN UP</a>
               <a href="/user/login">LOG IN</a>

               <% } %>

        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Your Ultimate Keyboard Destination</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        
        <div class="container">
            <div class="row nav-bar-size">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/user"><img class="nav_logo" src="../../img/logo/ZANCE&co_navbar_logo.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="/user">HOME</a></li>
                            <li><a href="/user/renderShopPage">SHOP</a></li>
                            <!-- <li><a href="#">PAGES</a>
                                <ul class="dropdown">
                                    <li><a href="/user">About Us</a></li>
                                    <li><a href="/user">Shop Details</a></li>
                                    <li><a href="/user">Shopping Cart</a></li>
                                    <li><a href="/user">Check Out</a></li>
                                    <li><a href="/user">Blog Details</a></li>
                                </ul>
                            </li> -->
                            <li><a href="/user">ABOUT</a></li>
                            <li><a href="/user">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="/user/wishlist"><i class="bi bi-suit-heart"></i></a>
                        <a href="/user/cart"><i class="bi bi-bag"></i></a>

                        <% if (locals.user) { %>
                         <div class="dropdown">
                            <a  class="sign-in-link" id="user-name"><%=locals.user.name%></a>
                            <div class="dropdown-content">
                                <a href="/user/userProfile">User Profile</a>
                                <a href="/user/logout">Logout</a>
                            </div>
                         </div>
                         <% } else { %>
                         
                        <a href="/user/signup">SIGN UP</a>
                        <a href="/user/login">LOG IN</a>

                        <% } %>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars text-light"></i></div>
        </div>
    </header>
    
    <!-- Header Section End -->